
.img{
    height: 10em;
    width: 10em;
}
.imgs__holder {
    overflow-x: visible;
}
.slider__arrow{
    z-index: 100;
}

.arrow__prev {
    top:40%;
    left:0;
    transform: translate(-50%,-50%);
}
.arrow__next{
    top:40%;
    right: 0%;
    transform: translate(-50%,-50%);
}
.modal__holder{
    max-width: 100vw ;
}