
.img{
    height: 150px;
    width: 150px;
    transform: translateX(33.33%);
}
.slider__item{
 
}
.slider__holder {
    display: inline-block !important;
    max-width: 100vw;
    padding: 0;
    margin:0;
}
.slider__holder:first-child{
    /* margin-left: 200px */
}
.slider__arrow{
    z-index: 100;
    top:50%;
    transform: translate(0,-50%)

}

.arrow__prev {
     left:0;
     
}
.arrow__next{
    right: 0%;
}
.modal__holder{
    max-width: 100vw;
    overflow-x: scroll;
    height: 300px;
}
.slider__cta{
    height: 150px;
    width: 150px;
}
.arrow__img {
    background-color: white;
    padding: 1.5em 0.6em;
    border: solid 1px rgb(75, 75, 75);
    cursor: pointer;
}
.arrow__img:hover{
    box-shadow: 1px 1px 12px rgb(139, 139, 139);
    transition: box-shadow 0.2s;
    color: red
}

.arrow__img--prev{
    transform: rotate(180deg);
    border-radius: 5px 0px 00px 5px;
    border-right: none;
}
.arrow__img--next{
    border-radius: 5px 0px 0px 5px;
    border-right: none;
}



  .landing-wrapper {
    max-width: 100vw;
    overflow-x: scroll;
    height: 300px;
    /* width: 99.9%; */
    height: 280px;
    margin:20px auto;
    padding:0;
    position: relative;
    overflow:hidden;
    border:1px solid #333;
    cursor:pointer;
  }
  
  .landing-inner-content {
    background: #FFF;
    width: 2620px;
    height: 280px;
  }
  
  .box {
    position: relative;
    background: rgba(0, 50, 502, 0.3);
    width: 240px;
    height: 240px;
    margin: 20px 20px 0 0;
    float: left;
    overflow:hidden;
  }
  
  .box:first-of-type {
    margin-left:20px;
  }
  
  .box:last-of-type {
    margin-right:20px;
  }
  
  .box-content {
    background: #000;
    /*margin-left: auto;
    margin-right: auto;*/
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
  }
  
  .box-content img {
    width: 100%;
  }