:root{
  --main-color: rgb(62, 191, 170);
}
html, body {
  overflow-x: hidden;
} 
.section__title {
}
 .map{
max-width: 80vw;
} 
.path{
  cursor: pointer;
}
.path:hover{

  fill: var(--main-color);
  transition: fill 0.1s;
}
.path:active{
  fill: var(--main-color);
}



.slider__holder{
}


/* Scalable SVG */
/* https://css-tricks.com/scale-svg/ */

.path--active {
  fill: var(--main-color)
}