:root{
  --main-color: rgb(62, 191, 170);
}
html, body {
  overflow-x: hidden;
} 
.map-container{
  display: block;
  margin: 0 auto;
}
 .map{
  display: block;
  margin: 0 auto;
  max-width: 70vw;
  width: 100%;
} 
/* media */
.path{
  cursor: pointer;
}
.path:hover{
  fill: var(--main-color);
  transition: fill 0.1s;
}

.path--active {
  fill: var(--main-color)
}

.slider__holder{
}



/* MEDIA QUERY */


@media (min-width: 576px) {
  .map{
    width: 50%;
  }
  }

@media (min-width: 768px) {  


}

@media (min-width: 992px) {
  .map{
    width: 25%;
  }
  }

@media (min-width: 1200px) { }