.slider__arrow {
  z-index: 2;
  top: 50%;
  transform: translate(0%, -50%);
  box-shadow: 0px 5px 10px rgb(107, 107, 107);
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
}
.arrow__prev {
  left: 0;
}
.arrow__next {
  right: 0;
}
.arrow__img {
  background-color: white;
  opacity: 0.5;
  padding: 1.5em 0.6em;
  cursor: pointer;
}
.arrow__img:hover {
  box-shadow: 1px 1px 12px rgb(43, 43, 43);
  will-change: box-shadow;
  transition: box-shadow 0.2s;
  opacity: 1;
}
.arrow__img--prev {
  transform: rotate(180deg);
  border-radius: 5px 0px 00px 5px;
  border-right: 1px white;
}
.arrow__img--next {
  border-radius: 5px 0px 0px 5px;
  border-right: 1px white;
}
.slider-wrapper {
  height: 280px;
  margin: 20px auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 5px 10px gainsboro;
  cursor: pointer;
}
.slider-inner-content {
  background: #fff;
  display: flex;
  align-items: stretch;
}
.slider-cta {
  margin-top: 6em;
  font-weight: 800;
}

/* MEDIA QUERY */
@media (min-width: 576px) {
  .slider-item {
    width: 240px;
  }
}
